#updates
  - for update in @updates
    .update
      .published_at
        = update['published_at'].getlocal.strftime("%b %e %Y, %l:%M %p")
      .content= update['content']
      .info
        .via
          via
          %a{:href => update['feed_url']}= update['via']
        .permalink
          [
          %a{:href => update['url']} permalink
          ]

