!!!
%html
  %head{:xmlns => 'http://www.w3.org/1999/xhtml'}
    %title iamsolarpowered :: Ben Shymkiw
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/style.css'}
    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/js/ben.js'}
    = feed_tag :rss, '/rss'
    = favicon_tag '/favicon.ico'
    %meta{:name => 'Description', :content => Ben.bio}
    %meta{:name => 'Keywords', :content => Ben.keywords}
  %body
    #container
      #sidebar
        %a.name{:href => '/'}
          .first Ben
          .last Sh<span>ymk</span>iw
        .bio= Ben.html_bio
        .awesomeness
          Behind the scenes:
          %ul
            %li{:title => 'Java makes my brain sad.'}
              %a{:href => 'http://www.ruby-lang.org/'} Ruby
            %li{:title => 'Doing it yourself is way more fun.'}
              %a{:href => 'http://www.sinatrarb.com/'} Sinatra
            %li{:title => 'ActiveRecord isn\'t 100% wonderful.'}
              %a{:href => 'http://datamapper.org/'} DataMapper
            %li{:title => 'I used to hate writing Javascript.'}
              %a{:href => 'http://jquery.com/'} jQuery
            %li{:title => 'Closing tags suck.'}
              %a{:href => 'http://haml-lang.com/'} Haml
            %li{:title => 'Like CSS, only less awful.'}
              %a{:href => 'http://sass-lang.com/'} Sass
        .elsewhere
          Elsewhere:
          %ul
            %li
              %a{:href => 'http://github.com/iamsolarpowered'} Github
            %li
              %a{:href => 'http://twitter.com/iamsolarpowered'} Twitter
            %li
              %a{:href => 'http://iamsolarpowered.tumblr.com'} Tumblr
            %li
              %a{:href => 'http://www.linkedin.com/profile/view?id=37114483'} LinkedIn
      #main
        = yield

