- content_for :head do
  %script{:type => 'text/javascript', :src => '/js/highcharts.js'}
  = erb :_request_chart, :layout => false

#chart

#requests
  - @requests_by_date.each do |date, requests|
    .date{:id => date.to_s}
      - for request in requests
        = partial :_request, :locals => {:request => request}

