.news{'ng-controller' => 'GoogleReaderController'}
  %h3.headline Interesting Things
  %blockquote.item{'ng-repeat' => 'item in items'}
    %a{'ng-href' => "{{item.alternate.href}}"}
      {{item.title}}
    %small
      %a{'ng-href' => "{{item.origin.htmlUrl}}"}
        {{item.origin.title}}
  %a{:href => 'http://www.google.com/reader/shared/user%2F07268286758726657191%2Fstate%2Fcom.google%2Fstarred?hl=en', 'ng-show' => 'items'} More...