%section.tweets{'ng-controller' => 'TweetsController'}
  %blockquote.twitter-tweet{'ng-repeat' => 'item in items'}
    %p {{item.text}}
    %a{:href => 'https://twitter.com/twitterapi/status/{{item.id_str}}', 'data-datetime' => '{{item.created_at.toISOString()}}'} {{item.created_at}}
  %a{:href => 'http://twitter.com/iamsolarpowered', 'ng-show' => 'items'} More...