!!! 5
%html
  %head
    %title Ben Shymkiw - iamsolarpowered
    = stylesheet_link_tag 'http://t.apio.ca/bootstrap/css/bootstrap.min.css'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
    = javascript_include_tag 'application'
  %body
    .container
      %header
        %h1 Hello
      %section.tweets