header {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header .container {
  width: 940px;
  margin: 0 auto;
}

.container {
  padding: 78px 0;
}

.about {
  text-align: right;
}
.about h1 {
  font-size: 39px;
  margin-bottom: 13px;
}
.about .avatar {
  display: inline-block;
  vertical-align: text-top;
}

#main {
  padding-top: 49px;
}

.tweet {
  margin-bottom: 2em;
}
.tweet .text {
  font-size: 118%;
}
.tweet .info {
  margin-top: 1em;
  text-align: right;
}
.tweet .info > div {
  display: inline-block;
  margin-left: 2em;
}
