body {
  background: #FCFFF9;
}

.container {
  padding: 78px 0;
}

.about {
  .avatar {
    display: inline-block;
    margin-bottom: 1em;
    width: 156px;
    height: 156px;
  }
}

.news {
  .headline {
    padding-bottom: 1em;
  }
  padding: {
    top: 4em;
  }
  .item {
    &:before {
      content: none;
    }
    small {
      text-align: right;
    }
  }
}

.tweet {
  margin-bottom: 2em;
  .text {
    font-size: 118%;
  }
  .info {
    margin-top: 1em;
    text-align: right;
    & > * {
      display: inline-block;
      margin-left: 2em;
    }
  }
}